#chart-column {
    display: block;
    min-width: 150px;
    max-width: 700px;
    // height: 200px;
    margin: 0 auto;
  }
  h1{
      text-align:center;
      color:aquamarine
  }

  .chart-title{
      overflow: visible !important;
  }
  .highcharts-yaxis-title{
    display: none;
    color: transparent;
  }