<div class="container-fluid py-3">
  <nav class="nav">
    <a routerLink="/app-costcube">Cost Cube</a>
    <a routerLink="/app-cpgs">Cost Per Gallon Summary</a>
    <a routerLink="/app-dds">Delivery Date Summery</a>
    <a routerLink="/app-puprefbymode">PU Perf By Mode</a>
    <a routerLink="/app-piecharts">Piecharts</a>
    <a routerLink="/app-mapcomponents">MAP Higncharts</a>
    <a routerLink="/app-triplechart">Triple chart</a>
    <a routerLink="/app-finalmap">Main Map</a>
  </nav>
  <!-- <h1>Angular Highcharts</h1>
  <div class="container">
     <div class="row">
        <div class="col-md-6">
          <div  class="chart-title" id="chart-line" ></div>
       </div>
      </div>
   </div> -->
   </div>
  <router-outlet></router-outlet>